.profile {
  display: flex;
  padding: 36px 0 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.profile__column {
  display: flex;
  flex-direction: column;
  width: 420px;
  height: 190px;
}

.profile__portail {
  max-width: 190px;
  max-height: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__title {
  margin: 0;
  opacity: 1;
  font-family: "Poppins", Helvetica, Arial, Sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  color: #212121;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__paragraph {
  margin: 12px 0 0;
  font-family: "Poppins", Helvetica, Arial, Sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  letter-spacing: 0%;
  color: #212121B2;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__button-edit {
  margin-top: auto;
  position: relative;
  right: 10px;
  height: 16px;
  width: 125px;
  opacity: 0.7;
  background-color: rgba(100, 100, 100, 0);
  border: none;

}

.prifile__button_paragraph {
  position: relative;
  left: 10px;
  bottom: 20px;
  margin: 0;
  padding: 0;
  color: #212121;
  border: none;
  font-family: "Poppins", Helvetica, Arial, Sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.prifile__button_paragraph :hover {
  cursor: pointer;
  color: #000000;
}

.profile__button-edit :hover {
  cursor: pointer;
  color: #000000;
}

.profile__pencil-logo {
  padding: 0;
  position: relative;
  right: 45px;
}

.profile__button-add {
  margin-left: auto;
  margin-top: 140px;
  background-color: #212121;
  font-family: "Poppins", Helvetica, Arial, Sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #FCF5E5;
  border: none;
  width: 149px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  box-sizing: border-box
}

.profile__button-add :hover {
  cursor: pointer;
}

.profile__logo-add {
  padding: 0 8px 0 0;
}

@media  screen and (max-width:630px) {
  .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 0 20px;
  }

  .profile__column {
    width: 288px;
    height: 100%;
  }

  .profile__portail {
    width: 80px;
    height: 80px;
    margin-right: 0;
  }

  .profile__title {
    size: 20px;
    line-height: 1;
    font-weight: 500;
    margin: 12px 0 0;

  }

  .profile__paragraph {
    margin: 16px 0 0;

  }

  .profile__button-edit {
    left: 83px;
    margin: 32px 0 0;
  }

  .profile__button-add {
    width: 100%;
    height: 52px;
    margin: 20px 0 0;
  }

}
